# =====================
# ignore all data first
# =====================
data/finetune/
data/zinc/


# =====================
# but keep data_preprocessor
# =====================


# =====================
# but still ignore pycache inside it
# =====================
data/data_preprocessor/__pycache__/
data/data_preprocessor/**/*.pyc
*.pth
*.csv
# Python
__pycache__/
*.pyc



# outputs

tensorboard/


# vscode
.vscode/